//form style
::placeholder {
  color: var(--gray2);
}
input.input {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 8px 24px;
  border: 1px solid var(--gray2);
  background: var(--gray0);
  letter-spacing: 0.15px;
  outline: none;
  color: var(--secondaryDark);
}

textarea.textarea {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  border: 0;
  border: 1px solid var(--gray2);
  background: var(--gray0);
  line-height: 21px; /* 140% */
  letter-spacing: 0.15px;
  outline: none;
  color: var(--secondaryDark);
}
