:root {
  --black: #000;
  --white: #fff;
  --gray0: #fafafa;
  --gray1: #ececec;
  --gray2: #b6b6b6;
  --gray3: #7f7a7a;
  --gray4: #212121;
  --adminDefault: #44aae9;
  --adminDefaultDark: #258bc9;
  --adminDelete: #e04c10;
  --adminDeleteDark: #d2501b;
  --adminSuccess: #47b966;
  --adminSuccessDark: #25a247;
  --primaryDefault: #e69270;
  --primaryLight: #f4d4c9;
  --primaryDark: #a44119;
  --primaryPestel: #f7eee9;
  --secondaryDefault: #fce37d;
  --secondaryLight: #fbfa90;
  --secondaryDark: #423a2f;
  --accessoryRed: #a44119;
  --accessoryBlue: #7682bd;
  --accessoryWhite: #edede6;
}
